# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log

# Environment
.env
venv/
env/

# Static collected files
staticfiles/

# User uploaded files
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db