{% load static %}


<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="stylesheet" href="{% static 'css/style.css' %}">


<style>

/* وضعیت سفارش */

.status-new{
    border-top:8px solid #f1c40f;
}


.status-preparing{
    border-top:8px solid #e67e22;
}


.status-ready{
    border-top:8px solid #3498db;
}



.status-text{

    margin-top:15px;

    font-weight:bold;

    font-size:17px;

}



.order-date{

    width:100%;

    margin:40px 0 20px;

    padding:15px;

    background:#fff4d6;

    border-right:6px solid #c69b3c;

    border-radius:12px;

    font-size:22px;

    font-weight:bold;

}


</style>


</head>


<body>



<section class="menu-header dashboard-header">


<h1>
داشبورد مدیریت
</h1>



<form method="POST" action="{% url 'logout' %}">

{% csrf_token %}

<button class="logout-btn">

خروج

</button>

</form>



<a href="{% url 'foods_manage' %}" class="hero-btn">

مدیریت غذاها

</a>


<a href="{% url 'completed_orders' %}" class="hero-btn">

سفارش‌های تحویل‌شده

</a>


</section>





<div class="menu-container">



{% for date, orders in grouped_orders.items %}



<h2 class="order-date">

📅 {{ date|date:"Y/m/d" }}

</h2>




{% for order in orders %}



<div class="food-card

{% if order.status == 'new' %}

status-new


{% elif order.status == 'preparing' %}

status-preparing


{% elif order.status == 'ready' %}

status-ready


{% endif %}

">



<h2>

{{ order.food.name }}

</h2>



<p>

مشتری:

{{ order.customer_name }}

</p>



<p>

تعداد:

{{ order.quantity }}

</p>


<p>

زمان سفارش:

{{ order.created_at|date:"H:i" }}

</p>



<p class="status-text">


{% if order.status == "new" %}

🟡 جدید


{% elif order.status == "preparing" %}

🟠 در حال آماده‌سازی


{% elif order.status == "ready" %}

🔵 آماده تحویل


{% endif %}


</p>






{% if order.status == "new" %}


<form method="POST" action="{% url 'update_order_status' order.id %}">

{% csrf_token %}

<input type="hidden" name="status" value="preparing">


<button class="hero-btn"
style="background:#e67e22;width:100%;">

شروع آماده‌سازی

</button>


</form>




{% elif order.status == "preparing" %}



<form method="POST" action="{% url 'update_order_status' order.id %}">

{% csrf_token %}

<input type="hidden" name="status" value="ready">


<button class="hero-btn"
style="background:#3498db;width:100%;">

آماده شد

</button>


</form>





{% elif order.status == "ready" %}




<form method="POST" action="{% url 'update_order_status' order.id %}">

{% csrf_token %}

<input type="hidden" name="status" value="done">


<button class="hero-btn"
style="background:#27ae60;width:100%;">

تحویل داده شد

</button>


</form>



{% endif %}




</div>



{% endfor %}



{% empty %}


<h2>

سفارشی وجود ندارد

</h2>


{% endfor %}




</div>



</body>

</html>