{% for date, orders in grouped_orders.items %}


<h2 class="order-date">

    📅 {{ date|date:"Y/m/d" }}

</h2>




{% for order in orders %}



<div class="food-card

{% if order.status == 'new' %}

status-new


{% elif order.status == 'preparing' %}

status-preparing


{% elif order.status == 'ready' %}

status-ready


{% endif %}

">





<h2>

    {{ order.food.name }}

</h2>





<p>

    مشتری:
    {{ order.customer_name }}

</p>




<p>

    تعداد:

    {{ order.quantity }}

</p>




<p>

    زمان سفارش:

    {{ order.created_at|date:"H:i" }}

</p>





<p class="status-text">


{% if order.status == "new" %}

🟡 جدید


{% elif order.status == "preparing" %}

🟠 در حال آماده‌سازی


{% elif order.status == "ready" %}

🔵 آماده تحویل


{% elif order.status == "done" %}

🟢 تحویل داده شد


{% endif %}



</p>







<div style="margin-top:20px;">



{% if order.status == "new" %}



<form method="POST" action="{% url 'update_order_status' order.id %}">

{% csrf_token %}


<input type="hidden" name="status" value="preparing">



<button class="hero-btn"
style="background:#e67e22;width:100%;">

شروع آماده‌سازی

</button>


</form>





{% elif order.status == "preparing" %}




<form method="POST" action="{% url 'update_order_status' order.id %}">

{% csrf_token %}


<input type="hidden" name="status" value="ready">



<button class="hero-btn"
style="background:#3498db;width:100%;">

آماده شد

</button>


</form>





{% elif order.status == "ready" %}




<form method="POST" action="{% url 'update_order_status' order.id %}">

{% csrf_token %}


<input type="hidden" name="status" value="done">



<button class="hero-btn"
style="background:#27ae60;width:100%;">

تحویل داده شد

</button>


</form>





{% endif %}



</div>





</div>



{% endfor %}



{% empty %}


<h2>

سفارشی وجود ندارد

</h2>



{% endfor %}